In [10]:
import pandas as pd

# Define la ruta del archivo Excel
ruta_archivo = 'datos_limpios.xlsx'

# Carga el archivo Excel en un DataFrame de pandas
df = pd.read_excel(ruta_archivo)

df.head()

,TIME_OF_DAY,AC_CLASS,AC_MASS,PHASE_OF_FLIGHT,HEIGHT,SPEED,DISTANCE,SPECIES,NUM_STRUCK,COST_INF_ADJ
0,Day,A,4,Take-off Run,0,100,0.0,Unknown bird - medium,1,0.0
1,Day,A,4,Landing Roll,0,100,0.0,Unknown bird - small,2-10,0.0
2,Day,A,4,Landing Roll,0,120,0.0,Unknown bird - small,1,0.0
3,Day,A,4,Landing Roll,0,125,0.0,American kestrel,1,0.0
4,Day,A,4,Landing Roll,0,100,0.0,Gulls,1,0.0

In [11]:
# Suma las columnas y guarda el resultado en una nueva columna
# df['TOTAL_COST'] = df['COST_REPAIRS_INFL_ADJ'] + df['COST_OTHER_INFL_ADJ']
# df = df.dropna(subset=['HEIGHT', 'SPEED', 'DISTANCE', 'NUM_STRUCK'])